.container {
  @include dashboard-layout();
}
.flex {
  & > div {
    justify-content: flex-start;
  }
}

.table {
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
}