.sidebar {
  width: $sidebar-width-primary;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: auto;
  background: $white;
  border-right: 1px dashed rgba(145, 158, 171, 0.24);
  transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  @include padding(20, 16);
  background: $white;
  z-index: 130;
  .header {
    img {
      width: 92px;
      height: 40px;
    }
  }
}
.box {
  margin-top: 24px;
}
.main {
  width: $sidebar-width-primary;
  position: relative;
  height: 100%;
  z-index: 130;
}
.modal {
  z-index: 120;
}