.edit {
  position: relative;
}
.badge {
  padding: 0px 8px;
  height: 22px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: $light-green-primary;
  color: $green-primary;
  border-radius: 4px;
}
.unactive {
  background: $red-primary;
  color: $white;
}
.upload {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: $black, $alpha: .5);
  opacity: 0;
  transition: all .3s ease-in-out;
  color: $white;
  p {
    padding-top: 4px;
  }
}
.user {
  width: 126px;
  height: 126px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  path, circle {
    fill: $white;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.flow {
  width: 144px;
  height: 144px;
  border: 2px dashed $border;
  border-radius: 50%;
  overflow: hidden;
  &:hover {
    .upload {
      opacity: 1;
      cursor: pointer;
    }
  }
}
.validate {
  .checked {
    width: auto;
  }
  padding-top: 24px;
}
.loading {
  margin: 0;
}