@mixin enter {
  opacity: 0;
  transform: scale(0.65);
}

@mixin active {
  opacity: 1;
  transform: scale(1);
}
@mixin transition {
  transition: all .4s ease-in-out;
}

.product {
  position: relative;
}
.image {
  position: relative;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    object-fit: cover;
    transition: opacity .8s ease,transform 1.1s cubic-bezier(.15,.75,.5,1) 0s;
    &:last-child {
      opacity: 0;
      transform: scale(.8);
    }
    &:hover {
      &:last-child {
        opacity: 1;
        transform: scale(1);
      }
      &:first-child {
        opacity: 0;
        transform: scale(.85);
      }
    }
  }
  height: 0;
  padding-top: calc(991px / 768px * 100%);
}
.info {
  padding-top: 20px;
  .brand {
    padding-bottom: 12px;
  }
  .name {
    margin-bottom: 12px;
    @include show-n-line(1);
  }
  .price {
    line-height: 24px;
    span {
      &:last-child {
        font-size: 14px;
        color: $dark-gray;
        text-decoration: line-through;
      }
      &:first-child {
        font-weight: 500;
        text-decoration: none;
        font-size: 14px;
        color: $black;
      }
    }
  }
  span {
    line-height: normal;
  }
  .discount {
    text-decoration: line-through;
  }
}
.btn {
  width: 80%;
  margin-top: 20px !important;
}
.description {
  padding-top: 8px;
  font-size: 16px;
  color: $color-secondary;
  @include show-n-line(1);
}
.sale {
  position: absolute;
  right: 10px;
  top: 10px;
  background: #ff4842;
  z-index: 5;
  color: $white;
  height: 22px;
  @include padding(0, 8);
  border-radius: 6px;
  text-transform: uppercase;
}